@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/**
 * © JEROME AVECILLA
 */

/*customizing default scroll bar*/
::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {  
  box-shadow: inset 0 0 2px grey; 
  border-radius: 1px; 
}
 
::-webkit-scrollbar-thumb {  
  background: #cecece!important; 
  border-radius: 1px;
  cursor: -webkit-grab; 
}

::-webkit-scrollbar-thumb:hover {
  background: #cecece!important; 
}

* {
   margin: 0;
   padding: 0;
   /*font-family: sans-serif;*/
}
html {
   box-sizing: border-box;
   user-select: none;
}

body {
   background-image: url('/resources/images/gmc-bg.png');
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   overflow-x: hidden;
}

.login-form {
   background: rgba(0, 0, 0, 0.65) none repeat scroll 0 0 !important;
   width: 370px!important;
   margin: 0 auto;
   margin-bottom: 0px;
   padding: 30px;
   padding-top: 30px;
   padding-bottom: 15px;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   -ms-border-radius: 2px;
   -o-border-radius: 2px;
}

.area{
  /* background: #ad4a5d!important; */ 
   background: -webkit-linear-gradient(to left, #0A4780, #0C5DA8, #1F79CD); 
   backdrop-filter: blur(20px) saturate(168%);  
}

.circles{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.circles li{
   position: absolute;
   display: block;
   list-style: none;
   width: 20px;
   height: 20px;
   background: rgba(255, 255, 255, 0.5);
/*background: #f3f3f3!important;
opacity: .4;*/
   animation: animate 25s linear infinite;
   bottom: -150px;   
}

.circles li:nth-child(1){
   left: 25%;
   width: 80px;
   height: 80px;
   animation-delay: 0s;
}

.circles li:nth-child(2){
   left: 10%;
   width: 20px;
   height: 20px;
   animation-delay: 2s;
   animation-duration: 12s;
}

.circles li:nth-child(3){
   left: 70%;
   width: 20px;
   height: 20px;
   animation-delay: 4s;
}

.circles li:nth-child(4){
   left: 40%;
   width: 60px;
   height: 60px;
   animation-delay: 0s;
   animation-duration: 18s;
}

.circles li:nth-child(5){
   left: 65%;
   width: 20px;
   height: 20px;
   animation-delay: 0s;
}

.circles li:nth-child(6){
   left: 75%;
   width: 110px;
   height: 110px;
   animation-delay: 3s;
}

.circles li:nth-child(7){
   left: 35%;
   width: 150px;
   height: 150px;
   animation-delay: 7s;
}

.circles li:nth-child(8){
   left: 50%;
   width: 25px;
   height: 25px;
   animation-delay: 10s;
   animation-duration: 45s;
}

.circles li:nth-child(9){
   left: 20%;
   width: 15px;
   height: 15px;
   animation-delay: 2s;
   animation-duration: 35s;
}

.circles li:nth-child(10){
   left: 85%;
   width: 150px;
   height: 150px;
   animation-delay: 0s;
   animation-duration: 11s;
}

@keyframes animate {
   0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
   }

   100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
   }
}
.form-title {
   color: #fff;
   font-size: 22px;
   padding-top: 10px;
}

#cms_login {
   margin-top: 8%!important;
}

/*styling input icons*/
.cms-icon {
   padding: 15.2px!important;
   background: #ad8af1;
   opacity: .9;
   color: #f3f3f3!important;
   min-width: 50px;
   text-align: center;
   font-size: 15px;
}
.cms-eye-icon {
   padding: 15px!important;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: gray!important;
   margin-top: 1px;
   min-width: 50px;
   text-align: center;
}
 /*styling input fields*/
.cms-username-input-field {
   width: 88%!important;
   padding: 10px;
   outline: none;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: #000000;
   font-size: 15px;
   overflow: hidden;
}
.cms-password-input-field {
   width: 75%!important;
   padding: 10px;
   outline: none;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: #000000;
   font-size: 15px;
   overflow: hidden;
}
.cms-password-input-field:focus,
.cms-username-input-field:focus {
   border: 1px solid #7f00ff!important;
   opacity: .8;
   transition: .3s all ease;
}

/*styling button*/
.cms-login-btn {
   background: #ad8af1; 
   opacity: .9;
   padding: 10px;
   border: none;
   color: #fff;
   font-size: 15px!important;
   font-weight: 400;
   width: 100%;
   margin-top: 8px;
} 
.cms-back-btn {
   background: transparent; 
   border: 1px solid #ad8af1;
   opacity: .9;
   padding: 10px;
   color: #ad8af1;
   font-size: 15px!important;
   font-weight: 400;
   width: 100%;
   margin-top: 8px;
}
.cms-login-btn:hover {
   opacity: 1;
   color: #fff;
}


/*===================================IMS=========================*/
.ims-icon {
   padding: 15.2px!important;
   background: #e17a77;
   opacity: .9;
   color: #f3f3f3!important;
   min-width: 50px;
   text-align: center;
   font-size: 15px;
}
.ims-eye-icon {
   padding: 14.5px!important;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: gray!important;
   margin-top: 1px;
   min-width: 50px;
   text-align: center;
}
 /*styling input fields*/
.ims-username-input-field {
   width: 88%!important;
   padding: 10px;
   outline: none;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: #000000;
   font-size: 15px;
   overflow: hidden;
}
.ims-password-input-field {
   width: 76%!important;
   padding: 10px;
   outline: none;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: #000000;
   font-size: 15px;
   overflow: hidden;
}
.ims-password-input-field:focus,
.ims-username-input-field:focus {
   border: 1px solid #e17a77!important;
   opacity: .8;
   transition: .3s all ease;
}

/*styling button*/
.ims-login-btn {
   background: #e17a77; 
   opacity: .9;
   padding: 10px;
   border: none;
   color: #fff;
   font-size: 15px!important;
   font-weight: 400;
   width: 100%;
   margin-top: 8px;
} 
.ims-back-btn {
   background: transparent; 
   border: 1px solid #e17a77;
   opacity: .9;
   padding: 10px;
   color: #e17a77;
   font-size: 15px!important;
   font-weight: 400;
   width: 100%;
   margin-top: 8px;
}
.ims-login-btn:hover {
   opacity: 1;
   color: #fff;
}


/*===================================VS=========================*/
.vs-icon {
   padding: 15.2px!important;
   background: #83D475;
   opacity: .9;
   color: #f3f3f3!important;
   min-width: 50px;
   text-align: center;
   font-size: 15px;
}
.vs-eye-icon {
   padding: 14.5px!important;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: gray!important;
   margin-top: 1px;
   min-width: 50px;
   text-align: center;
}
 /*styling input fields*/
.vs-username-input-field {
   width: 88%!important;
   padding: 10px;
   outline: none;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: #000000;
   font-size: 15px;
   overflow: hidden;
}
.vs-password-input-field {
   width: 76%!important;
   padding: 10px;
   outline: none;
   background: transparent;
   border: 1px solid #f3f3f3;
   color: #000000;
   font-size: 15px;
   overflow: hidden;
}
.vs-password-input-field:focus,
.vs-username-input-field:focus {
   border: 1px solid #83D475!important;
   opacity: .8;
   transition: .3s all ease;
}

/*styling button*/
.vs-login-btn {
   background: #83D475; 
   opacity: .9;
   padding: 10px;
   border: none;
   color: #fff;
   font-size: 15px!important;
   font-weight: 400;
   width: 100%;
   margin-top: 8px;
} 
.vs-back-btn {
   background: transparent; 
   border: 1px solid #83D475;
   opacity: .9;
   padding: 10px;
   color: #83D475;
   font-size: 15px!important;
   font-weight: 400;
   width: 100%;
   margin-top: 8px;
}
.vs-login-btn:hover {
   opacity: 1;
   color: #fff;
}

/*===================================BUWAN NG WIKA=========================*/
.buwanngwika-icon {
   padding: 15.2px!important;
   background: #7c6d54;
   opacity: .5;
   color: #f3f3f3!important;
   min-width: 50px;
   text-align: center;
   font-size: 15px;
}
.buwanngwika-eye-icon {
   padding: 15px;
   background: transparent;
   border: 1px solid #d2d0cc;
   opacity: .9;
   color: gray!important;
/*   min-width: 50px;*/
    width: 100%!important;
   text-align: center;
}
 /*styling input fields*/
.buwanngwika-username-input-field {
   width: 88%!important;
   padding: 10px;
   outline: none;
   background: transparent;
   border: 1px solid #d2d0cc;
   opacity: .9;
   color: #000000;
   font-size: 15px;
   overflow: hidden;
}
.buwanngwika-password-input-field {
   width: 76%!important;
   padding: 10px;
   outline: none;
   background: transparent;
   border: 1px solid #d2d0cc;
   opacity: .9;
   color: #000000;
   font-size: 15px;
   overflow: hidden;
}
.buwanngwika-password-input-field:focus,
.buwanngwika-username-input-field:focus {
   border: 1px solid #7c6d54!important;
   opacity: .8;
   transition: .3s all ease;
}

/*styling button*/
.buwanngwika-login-btn {
   background: #7c6d54; 
   opacity: .5;
   padding: 10px;
   border: none;
   color: #fff;
   font-size: 15px!important;
   font-weight: 400;
   width: 100%;
   margin-top: 8px;
} 
.buwanngwika-back-btn {
   background: transparent; 
   border: 1px solid #7c6d54;
   opacity: .5;
   padding: 10px;
   color: #7c6d54;
   font-size: 15px!important;
   font-weight: 400;
   width: 100%;
   margin-top: 8px;
}
.buwanngwika-login-btn:hover {
   opacity: 1;
   color: #fff;
}




.attempt-message {
   font-size: 14px;
}
.notes {
   color: gray!important;
   font-size: 14.5px;
   text-align: justify;
}
/*horizontal line*/
div.hr {
   height: 1px; 
   background: #e7e7e7;
}
.mt {
   margin-top: 10%;
}
.first-sentence, .second-sentence {
   color: gray!important;
   font-size: 15px;
}
.container {
   margin-top: 60px!important;
}
.link {
   text-decoration: none;
   color: #7f00ff!important;
}
.school_link {
   text-decoration: none;
} .school_link:hover {
   color: #000000!important;
   opacity: .8;
}